In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:\\Users\\Irina\\Documents\\Материалы PYDA\\Stats\\практика_и_дз\\horse_data.csv',
                   names = ['surgery', 'age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'other', 'other1', 'other2', 'other3', 'other4'], na_values=['?'])
data.head()

,surgery,age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,other,other1,other2,other3,other4
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [3]:
data_filtered = data.iloc[:, [0,1,3,4,5,6,10,22]]
data_filtered.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [80]:
#data_filtered[(data_filtered['pain'] != 1) & (data_filtered['pain'] != 2) &  (data_filtered['pain'] != 3) &  (data_filtered['pain'] != 4) &  (data_filtered['pain'] != 5)]
#data_filtered[(data_filtered['pain'] == 4) & (data_filtered['respiratory_rate'] == 20)]
#data_filtered[data_filtered['temperature_of_extremities'] ==2].count()
data_filtered[(data_filtered.surgery == 1) & (data_filtered.age == 1)].respiratory_rate.mean()

30.356589147286822

In [27]:
median_temp = data_filtered.rectal_temperature.median()
mode_temp = data_filtered.rectal_temperature.mode()
var_temp = data_filtered.rectal_temperature.var()

median_pulse = data_filtered.pulse.median()
mode_pulse = data_filtered.pulse.mode()
var_pulse = data_filtered.pulse.var()

median_rr = data_filtered.respiratory_rate.median()
mode_rr = data_filtered.respiratory_rate.mode()
var_rr = data_filtered.respiratory_rate.var()

print(median_temp, '\n', mode_temp, '\n', var_temp, '\n',  median_pulse, '\n', mode_pulse, '\n', var_pulse, '\n', median_rr, '\n', mode_rr, '\n', var_rr)

38.2
 0    38.0
dtype: float64
 0.5362466875871686
 64.0
 0    48.0
dtype: float64
 819.7087747035573
 24.5
 0    20.0
dtype: float64
 311.2483282466308

## Выводы:
* 60% лошадей переносили операцию (это также видно по тому, что 75% значений лежат ниже максимального значения) , из них 90% это взрослые лошади
* среди тех, кто не переносил операцию, 63% взрослых лошадей
* СКО для температуры мало, значит большинство значений расположено вокруг среднего значения.
* У всех лошадей с операцией и без средняя температура примерно одинакова
* у взрослых лошадей после операции пульс выше тех, у кого не было операции на 22%
* У молодых лошадей пульс выше, чем у взрослых
* У молодых лошадей перенесших операцию пульс на 34% выше, молодых лошадей без операции
* СКО для пульса очень большое, что говорит о большом разбросе данных, также большая разница в медиане и ср.арифметической говорит о наличии выбросов.
* Частота дыхательных сокращений у большинства лошадей в пределах нормы, но присутствуют выбросы.
* Большая часть лошадей в выборке испытывали сильные боли

In [89]:
data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [97]:
#Выбросы для пульса
q1 = data_filtered['pulse'].quantile(0.25)
q3 = data_filtered['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_filtered[data_filtered['pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
new = pd.concat([data_filtered, remove_outliers]).drop_duplicates(keep=False)
new.iloc[:, [1,2,3]].dropna()

     age  rectal_temperature  pulse
3      9                39.1  164.0
41     9                39.0  150.0
55     9                38.6  160.0
255    9                38.8  184.0
275    9                38.8  150.0

In [132]:
#Выбросы для rectal_temp
q1 = data_filtered['rectal_temperature'].quantile(0.25)
q3 = data_filtered['rectal_temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_filtered[data_filtered['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal_temperature')
new = pd.concat([data_filtered, remove_outliers]).drop_duplicates(keep=False)
new.iloc[:, [2]].dropna()

     rectal_temperature
20                 39.9
44                 35.4
54                 40.3
75                 39.7
80                 36.4
91                 40.3
99                 39.6
118                36.5
141                36.0
238                36.1
251                36.6
259                40.8
281                40.0
298                36.5

In [96]:
#Выбросы для respiratory_rate
q1 = data_filtered['respiratory_rate'].quantile(0.25)
q3 = data_filtered['respiratory_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_filtered[data_filtered['respiratory_rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('respiratory_rate')
new_1 = pd.concat([data_filtered, remove_outliers]).drop_duplicates(keep=False)
new_1.iloc[:, [4]].dropna()

     respiratory_rate
3                84.0
39               96.0
41               72.0
82               80.0
84               80.0
103              68.0
106              96.0
120              66.0
125              68.0
208              80.0
229              70.0
244              88.0
255              84.0
265              68.0
295              70.0

## Пропуски
* В поле Surgery всего 1 пропуск - его можно игнорировать.
* В поле Age 24 строки с неверным значнием(вместо 2  по описанию, стоит 9)
* В поле rectal_temperature 60 пропусков, это 20% данных - много. Учитывая, что СКО маленькое, можно заменить пропуски медианой. Более того, среднее значение не значительно различается и в разрезе перенесенных операций и возраста
* В поле pulse 8% пропусков, можно их игнорировать, т.к. это незначительное количество
* Для пропусков в столбце pain можно предположить, что значение будет 3, т.к. оно наиболее часто встречающиеся, СКО маленькое, и средняя 2,95
* outcome для 132 строки можно предположить по аналогии с другой строкой 292, что значение будет 2 или 3, но в целом можно проигнорировать, т.к. эта строка не имеет данных еще по нескольким столбцам
* temperature_of_extremities можно заменить медианным значением
* respiratory rate имеет большое количество пропусков  >20%, заменим их медианой внутри возрастной группы и наличия операций

In [68]:
df = pd.read_csv('C:\\Users\\Irina\\Documents\\Материалы PYDA\\Stats\\практика_и_дз\\horse_data.csv',
                   names = ['surgery', 'age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'other', 'other1', 'other2', 'other3', 'other4'], na_values=['?']).iloc[:, [0,1,3,4,5,6,10,22]]

df

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [85]:
df['rectal_temperature'].fillna(df['rectal_temperature'].median(), inplace=True)
df['pain'].fillna(3, inplace=True)
df['temperature_of_extremities'].fillna(df['temperature_of_extremities'].median(), inplace=True)
df['respiratory_rate'].fillna(df[(df.surgery == 1) & (df.age == 1)].respiratory_rate.median(), inplace=True)
df['respiratory_rate'].fillna(df[(df.surgery == 1) & (df.age == 9)].respiratory_rate.median(), inplace=True)
df['respiratory_rate'].fillna(df[(df.surgery == 2) & (df.age == 9)].respiratory_rate.median(), inplace=True)
df['respiratory_rate'].fillna(df[(df.surgery == 2) & (df.age == 1)].respiratory_rate.median(), inplace=True)

In [90]:
df.dropna(inplace=True)

In [91]:
df.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000,275.000000
mean,1.403636,1.640000,38.160000,72.000000,29.665455,2.432727,2.901818,1.552727
std,0.491521,2.174302,0.671908,28.646219,16.623484,0.991764,1.171980,0.749660
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,3.500000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000